* {
    margin: 0px;
    padding: 0px;
}

#upper-container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

#container {
    background-color: whitesmoke;
    width: 50%;
    height: 60vh;
    border: 2px solid black;
    text-align: center;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(46, 46, 46);
}